<mat-grid-list cols="5" rowHeight="200px">
    <mat-grid-tile >
        <app-audioplayer></app-audioplayer>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3">
        
    </mat-grid-tile>
    <mat-grid-tile>
        <app-weather></app-weather>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="70px" [gutterSize]="'0px'">
        

    <mat-grid-tile>
        <div class="container"
            fxLayout="column">
            <app-clock></app-clock>               
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="searchbox"
            fxLayout="column" [style.width.px]="1000">
            <app-google></app-google> 
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-calendar-entry></app-calendar-entry>

    </mat-grid-tile>


</mat-grid-list>





<mat-grid-list cols="5" rowHeight="400px" gutterSize="15px">
    <mat-grid-tile >
        <app-app-folder></app-app-folder>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3">
        <app-quotes></app-quotes>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="right">
            <app-todolist></app-todolist>
        </div>
    </mat-grid-tile>
</mat-grid-list>
